<a href="https://colab.research.google.com/github/its-kanii/SQL-TCL-Commands/blob/main/tcl_commands_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TCL Commands in SQL - Explanation with Queries

#1.COMMIT


Explanation:

The COMMIT command is used to save all changes made during the current transaction to the database permanently. Once a COMMIT is executed, the transaction is complete, and the changes are finalized.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE employees SET salary = 5000 WHERE employee_id = 101;
COMMIT;

#2. ROLLBACK

Explanation:

The ROLLBACK command is used to undo all changes made during the current transaction. It reverts the database to the state it was in before the transaction started.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE employees SET salary = 5000 WHERE employee_id = 101;
ROLLBACK;

#3. SAVEPOINT

Explanation:

 The SAVEPOINT command creates a point within a transaction to which you can later roll back. This allows partial rollbacks instead of undoing the entire transaction.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE employees SET salary = 5000 WHERE employee_id = 101;
SAVEPOINT salary_update;
UPDATE employees SET salary = 6000 WHERE employee_id = 102;
ROLLBACK TO salary_update;
COMMIT;

#4. SET TRANSACTION

Explanation:

 The SET TRANSACTION command is used to configure the properties of the current transaction, such as setting the isolation level.

SQL Query Example:

In [ ]:
%%sql
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN;
UPDATE employees SET salary = 5000 WHERE employee_id = 101;
COMMIT;

#Real-Time Use Cases for TCL Commands
#1. COMMIT - Example in E-commerce System

In an E-commerce System, suppose a customer places an order. Once the order is confirmed, the inventory is updated, and payment is processed. After all changes, we need to save the transaction to the database permanently.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE inventory SET stock_quantity = stock_quantity - 1 WHERE product_id = 202;
UPDATE orders SET order_status = 'Confirmed' WHERE order_id = 12345;
COMMIT;

**Use Case Explanation:**

The transaction begins by updating the inventory (reducing the stock).
The order status is updated to 'Confirmed'.
COMMIT is used to save these changes permanently, ensuring the transaction is completed successfully and reflected in the database.

#2. ROLLBACK - Example in Banking System
In a Banking System, when transferring money from one account to another, if an error occurs (like insufficient funds), we need to revert the transaction to maintain data integrity.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE accounts SET balance = balance - 1000 WHERE account_id = 101; -- Debit account
UPDATE accounts SET balance = balance + 1000 WHERE account_id = 102; -- Credit account
ROLLBACK; -- Revert changes if something goes wrong (e.g., insufficient funds)

Use Case Explanation:

* The transaction starts with updating both accounts.
*  If any error occurs, like insufficient funds, ROLLBACK is used to undo all changes and keep the account balances unchanged.

#3. SAVEPOINT - Example in Inventory Management System
In an Inventory Management System, we might update the stock levels of multiple products in one transaction. If an error occurs while updating a product, we can roll back only to a specific point using SAVEPOINT.

SQL Query Example:

In [ ]:
%%sql
BEGIN;
UPDATE products SET stock_quantity = stock_quantity - 10 WHERE product_id = 101; -- First product
SAVEPOINT update_first_product; -- Set a savepoint after the first product update
UPDATE products SET stock_quantity = stock_quantity - 20 WHERE product_id = 102; -- Second product
ROLLBACK TO update_first_product; -- Rollback to the savepoint, undoing only the second update
COMMIT;

Use Case Explanation:

* We set a SAVEPOINT after the first product update.
* If something goes wrong with the second update (e.g., invalid stock quantity), we can roll back to the SAVEPOINT, leaving the first update intact while undoing only the second one.

#4. SET TRANSACTION - Example in Banking System
In a Banking System, we may want to ensure that the transaction is isolated from others to avoid inconsistencies while transferring funds. We use SET TRANSACTION to set the isolation level for the transaction.

SQL Query Example:

In [ ]:
%%sql
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
BEGIN;
UPDATE accounts SET balance = balance - 1000 WHERE account_id = 101;
UPDATE accounts SET balance = balance + 1000 WHERE account_id = 102;
COMMIT;

Use Case Explanation:

* The SET TRANSACTION command sets the transaction's isolation level to  
  SERIALIZABLE, which prevents other transactions from accessing the accounts being updated until the current transaction is completed.
* This ensures data consistency and avoids issues like double-spending in banking.

#Final Notes
These TCL commands ensure the integrity and consistency of transactions in SQL-based systems. By using COMMIT, ROLLBACK, SAVEPOINT, and SET TRANSACTION, you can manage and control the state of your database even in complex systems like e-commerce, banking, and inventory management.

Feel free to explore these examples and adapt them to your own use cases.